{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS 공개 API",
    "version": "1.0.0",
    "description": "NEIS 교육정보 개방 포털 공개 API 명세서 기반 OpenAPI 3.0.4 문서"
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr"
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "operationId": "getSchoolInfo",
        "summary": "학교 기본 정보 조회",
        "description": "학교 기본 정보를 조회합니다.",
        "parameters": [
          {
            "name": "Key",
            "in": "query",
            "description": "인증키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sample key"
          },
          {
            "name": "Type",
            "in": "query",
            "description": "호출 문서 타입",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "pIndex",
            "in": "query",
            "description": "페이지 위치",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "pSize",
            "in": "query",
            "description": "페이지 당 요청 건수",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "description": "시도교육청코드",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "description": "행정표준코드",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "description": "학교명",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "description": "학교종류명",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "description": "시도명",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "description": "설립명",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "operationId": "getMealServiceDietInfo",
        "summary": "급식 식단 정보 조회",
        "description": "학교의 급식 식단 정보를 조회합니다.",
        "parameters": [
          {
            "name": "Key",
            "in": "query",
            "description": "인증키",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sample key"
          },
          {
            "name": "Type",
            "in": "query",
            "description": "호출 문서 타입",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "json"
          },
          {
            "name": "pIndex",
            "in": "query",
            "description": "페이지 위치",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "pSize",
            "in": "query",
            "description": "페이지 당 요청 건수",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "description": "시도교육청코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "description": "행정표준코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "description": "식사코드",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "description": "급식일자",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "description": "급식시작일자",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "description": "급식종료일자",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Result": {
        "type": "object",
        "properties": {
          "CODE": {
            "type": "string"
          },
          "MESSAGE": {
            "type": "string"
          }
        },
        "required": [
          "CODE",
          "MESSAGE"
        ]
      },
      "ResultHeader": {
        "type": "object",
        "properties": {
          "list_total_count": {
            "type": "integer"
          },
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        },
        "required": [
          "list_total_count",
          "RESULT"
        ]
      },
      "SchoolInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "description": "전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "description": "홈페이지주소"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "description": "팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "description": "고등학교구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "description": "주야구분명"
          },
          "FOND_YMD": {
            "type": "string",
            "description": "설립일자"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "description": "개교기념일"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "수정일자"
          }
        },
        "additionalProperties": true
      },
      "MealServiceDietInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사명"
          },
          "MLSV_YMD": {
            "type": "string",
            "description": "급식일자"
          },
          "MLSV_FGR": {
            "type": "string",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "description": "급식시작일자"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "description": "급식종료일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "수정일자"
          }
        },
        "additionalProperties": true
      },
      "SchoolInfoListItem": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultHeader"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfoRow"
            }
          }
        },
        "required": [
          "head",
          "row"
        ]
      },
      "MealServiceDietInfoListItem": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultHeader"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfoRow"
            }
          }
        },
        "required": [
          "head",
          "row"
        ]
      },
      "SchoolInfoResponse": {
        "type": "object",
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfoListItem"
            }
          }
        },
        "required": [
          "schoolInfo"
        ]
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfoListItem"
            }
          }
        },
        "required": [
          "mealServiceDietInfo"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        },
        "required": [
          "RESULT"
        ]
      }
    }
  }
}
